<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lovegis.mapper.ForumPostMapper"> 
<insert id="addPost" parameterType="forumPost">
insert into forum_post (pid,fid,tid,first,author,author_uid,author_account,subject,dateline,message,userip,attachment)
 values (#{pid},#{post.fid},#{post.tid},#{post.first},#{post.author},#{post.authorUid},#{post.authorAccount},#{post.subject},#{post.dateline},
 #{post.message},#{post.userip},#{post.attachment})
</insert>
<update id="UpdateLastpostThread">
update forum_thread SET lastpost=#{lastpost} ,lastposter=#{lastposter} ,replies=replies+1 where tid=#{tid}
</update>


<select id="getForumPost"  resultType="forumPost">
select forum_post.*,users_info.nickname,users_info.icon_img from forum_post,users_info where forum_post.author_uid=users_info.uid and tid =#{tid} limit #{begin},#{end}
</select>
<select id="QueryTidCount"  resultType="int">
select count(*) from forum_post where tid =#{tid}
</select>
<select id="CountPid"  resultType="int">
select count(pid) from forum_post
</select>
<select id="updateView"  resultType="int">
update forum_thread SET views=views+1 where tid=#{tid}
</select>
</mapper>
