<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.mapper.ForumMsgMapper" >
  <resultMap id="BaseResultMap" type="com.lovegis.pojo.ForumMsg" >
    <id column="mid" property="mid" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="rd_uid" property="rdUid" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="dateline" property="dateline" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="INTEGER" />
    <result column="new1" property="new1" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mid, author, rd_uid, subject, dateline, type, fid, tid, position, new1
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lovegis.pojo.ForumMsgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from forum_msg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from forum_msg
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from forum_msg
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lovegis.pojo.ForumMsgExample" >
    delete from forum_msg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lovegis.pojo.ForumMsg" >
    insert into forum_msg (mid, author, rd_uid, 
      subject, dateline, type, 
      fid, tid, position, 
      new1)
    values (#{mid,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, #{rdUid,jdbcType=INTEGER}, 
      #{subject,jdbcType=VARCHAR}, #{dateline,jdbcType=BIGINT}, #{type,jdbcType=TINYINT}, 
      #{fid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{position,jdbcType=INTEGER}, 
      #{new1,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lovegis.pojo.ForumMsg" >
    insert into forum_msg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        mid,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="rdUid != null" >
        rd_uid,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="dateline != null" >
        dateline,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="new1 != null" >
        new1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="rdUid != null" >
        #{rdUid,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="dateline != null" >
        #{dateline,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=INTEGER},
      </if>
      <if test="new1 != null" >
        #{new1,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lovegis.pojo.ForumMsgExample" resultType="java.lang.Integer" >
    select count(*) from forum_msg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update forum_msg
    <set >
      <if test="record.mid != null" >
        mid = #{record.mid,jdbcType=INTEGER},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.rdUid != null" >
        rd_uid = #{record.rdUid,jdbcType=INTEGER},
      </if>
      <if test="record.subject != null" >
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.dateline != null" >
        dateline = #{record.dateline,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.fid != null" >
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=INTEGER},
      </if>
      <if test="record.new1 != null" >
        new1 = #{record.new1,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update forum_msg
    set mid = #{record.mid,jdbcType=INTEGER},
      author = #{record.author,jdbcType=VARCHAR},
      rd_uid = #{record.rdUid,jdbcType=INTEGER},
      subject = #{record.subject,jdbcType=VARCHAR},
      dateline = #{record.dateline,jdbcType=BIGINT},
      type = #{record.type,jdbcType=TINYINT},
      fid = #{record.fid,jdbcType=INTEGER},
      tid = #{record.tid,jdbcType=INTEGER},
      position = #{record.position,jdbcType=INTEGER},
      new1 = #{record.new1,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lovegis.pojo.ForumMsg" >
    update forum_msg
    <set >
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="rdUid != null" >
        rd_uid = #{rdUid,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="dateline != null" >
        dateline = #{dateline,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="new1 != null" >
        new1 = #{new1,jdbcType=TINYINT},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lovegis.pojo.ForumMsg" >
    update forum_msg
    set author = #{author,jdbcType=VARCHAR},
      rd_uid = #{rdUid,jdbcType=INTEGER},
      subject = #{subject,jdbcType=VARCHAR},
      dateline = #{dateline,jdbcType=BIGINT},
      type = #{type,jdbcType=TINYINT},
      fid = #{fid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER},
      new1 = #{new1,jdbcType=TINYINT}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>